
#resultado {
  position: absolute;
  top: 0;
  width: 60%;
  margin-left: 20%;

  border-collapse: collapse;

  background-color: #f2f2f2;
}

#resultado td, #resultado th {
  margin: 50px;
  border: 2px solid white;
  padding: 8px;
}

#resultado tr:nth-child(even){background-color: #f2f2f2;}

#resultado tr:hover {background-color: #ddd;}

#resultado th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #38444b;
  color: white;
}

.escondido {
  visibility: hidden;
  display: none;
}

#voltar{
  position: fixed;
  left: 0;
  top: 0;

  width: 8%;
  height: auto;
}
