body{
  background-image: url("imgs/background.jpg");
  background-position: center;
  box-sizing: border-box;
  font-family: Nunito, Arial;
  font-weight: bold;
  text-align: center;

}
#mainContainer{

  margin: auto;
  width: 60%;
  box-sizing: border-box;
  padding: 3em;
  position: relative;

  border-radius: 5px;
  background-color: #38444b;
  color: #c2c6d3;
  font-size: 1.5em;
  display: flex;
  flex-flow: row wrap;



}

h1{
  color: #a4c7c2;
  width: 100%;
  font-size: 1.3em;
}
label {
padding: 1.3em, 1.3em, 1.3em, 0;
display: flex;
justify-content: center;
margin-top: 0.4em;
width: 100%;
text-align: center;

}

input {
  margin: 0px auto;
  display: block;


  margin-top: 0.4em;
  width: 50%;

  padding: 10px 10px;
  border: none;
  border-radius: 4px;


}

select {
  margin: 0px auto;
  display: block;
  margin-top: 0.4em;
  width: 100%;
  padding: 8px 10px;
  border: none;
  border-radius: 4px;
}

article{
  flex: 1;
  align-self: flex-end;

  margin: 1em;


}
#select{
  display: block;
  width: 100%;
}

button {
background-color: #3a776d;
color: white;
padding: 12px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
margin-top: 3em;
width: 100%;
}

button:hover {
background-color: #5c877f;
}

/*
.col-25 {
display: flex;
justify-content: center;
margin-top: 0.4em;
width: 100%;
}

.col-75 {
display: flex;
justify-content: center;
margin-top: 0.4em;
width: 30%;

}
*/

/* Clear floats after the columns
.row:after {
content: "";
display: table;
clear: both;
}
*/
